div#main.ui.text.container {
  padding: 35px 0 35px 0;
}

div#footer p {
  color: #888888;
}

div.gallery-image span {
  display: block;
  margin: 10px 0 0 0;
  color: #888888;
}

div.ui.sticky {
  padding: 25px 0 5px 0;
  margin-bottom: 7px;
  -webkit-backdrop-filter: blur(30px) saturate(130%) brightness(120%);
  backdrop-filter: blur(30px) saturate(130%) brightness(120%);
  background-color: rgba(189, 189, 189, 0.4); 
}

div.ui.sticky h2.ui.header {
  color: #444444;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
      background-color: rgb(30, 30, 30)!important;
      color: #CCC!important;
  }

  div.ui.sticky {
    background-color: rgba(76, 76, 76, 0.4); 
  }

  div.ui.sticky a {
    text-shadow: 0 0 5px #000000;
  }

  h1.ui.header,
  h2.ui.header,
  h3.ui.header,
  h4.ui.header,
  h5.ui.header,
  h6.ui.header {
    color: #CCC;
  }

  h1.ui.header div.sub.header {
    color: #999999;
  }

  div.ui.sticky h2.ui.header {
    color: #cccccc;
  }

  div.gallery-image img {
    box-shadow: 0px 0px 5px #111111;
  }

  a:link, a:visited { color: #BCDDF6 }
  a:hover { color: rgb(169, 199, 223)!important }
  a:active { color: rgb(152, 180, 201)!important }

}
